# Ignore bundler config
/.bundle


/node_modules
/storage

# Ignore the build directory
/build
/css
/css/*.css
/js/core.min.js
/js/site.min.js

# Ignore cache
/.sass-cache
/.cache

# Ignore .DS_store file
.DS_Store

# pyc
*.pyc
