<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title>{% block title %}{% endblock %}Patch Sheet</title>
    <link href="/css/site.min.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Patch Sheet</a></li>
        <li><a href="/patches/create">Create</a></li>{#
        <li><a href="/login/tw">Twitter Login</a></li>
        <li><a href="/login/fb">Facebook Login</a></li>
        <li><a href="/login/g">Google Login</a></li> #}
      </ul>
    </nav>
    {% block content %}{% endblock %}
    <script src="/js/site.min.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
