<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title>{% block title %}{% endblock %}Patch Sheet</title>
    <link href="/css/site.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Patch Sheet</a></li>
        <li><a href="/patches/create">Create</a></li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
    <!-- build:js js/app.min.js -->
    <script src="/js/lib/jquery-2.1.1.min.js"></script>
    <script src="/js/lib/jquery-ui.min.js"></script>
    <script src="/js/lib/jquery-ui.touch-punch.min.js"></script>
    <script src="/js/lib/jquery.knob.min.js"></script>
    <script src="/js/core.js"></script>
    <!-- endbuild -->
    {% block script %}{% endblock %}
  </body>
</html>

