{% extends "base.html" %}

{% block content %}
  <h1>Create</h1>

  <ol>
    {% for synth in synths %}
      <li><a href="/patches/{{ synth.key.id() }}/create">{{ synth.make }} {{ synth.model }}</a></li>
    {% endfor %}
  </ol>
  <h1>Patches</h1>

  <ol>
    {% for patch in patches %}
    <li><a href="/patches/{{ patch.key.parent().id() }}/{{ patch.key.id() }}">{{ patch.name }}</a> for {{ patch.key.parent().get().make }} {{ patch.key.parent().get().model }}</li>
    {% endfor %}
  </ol>
{% endblock %}

{% block script %}
  <script>
    var page = new ps.SetUp('home');
  </script>
{% endblock %}
