{% if view %}
{% extends "view.html" %}
{% else %}
{% extends "edit.html" %}
{% endif %}

{% import 'controls.html' as controls with context %}

{% block patch %}
<input type="hidden" name="patch-synth" value="juno-60">
<div class="section">
  <h2>LFO</h2>
  {{ controls.vertical_slider('lfo-rate', 'Rate') }}
  {{ controls.vertical_slider('lfo-delay-time', 'Delay Time') }}
  {{ controls.switch('lfo-trig-mode', 'Trig Mode', {'auto': 'Auto', 'manual': 'Manual'}, 'auto') }}
</div>
<div class="section">
  <h2>DCO</h2>
  {{ controls.vertical_slider('dco-lfo', 'LFO') }}
  {{ controls.vertical_slider('dco-pwm', 'PWM') }}
  {{ controls.switch('dco-pwm-mode', 'PWM Mode', {'lfo': 'LFO', 'manual': 'Manual', 'env': 'Env'}, 'manual') }}
  {{ controls.button('dco-square', 'Square') }}
  {{ controls.button('dco-saw', 'Saw') }}
  {{ controls.button('dco-sub', 'Sub') }}
  {{ controls.vertical_slider('dco-sub-osc', 'Sub Osc') }}
  {{ controls.vertical_slider('dco-noise', 'Noise') }}
</div>
<div class="section">
  <h2>HPF</h2>
  {{ controls.vertical_slider('hpf-freq', 'Freq', max='3') }}
</div>
<div class="section">
  <h2>VCF</h2>
  {{ controls.vertical_slider('vcf-freq', 'Freq') }}
  {{ controls.vertical_slider('vcf-res', 'Res') }}
  {{ controls.switch('vcf-polarity', 'Polarity', {'normal': 'Normal', 'inverted': 'Inverted'}, 'normal') }}
  {{ controls.vertical_slider('vcf-env', 'Env') }}
  {{ controls.vertical_slider('vcf-lfo', 'LFO') }}
  {{ controls.vertical_slider('vcf-kybd', 'Kybd') }}
</div>
<div class="section">
  <h2>VCA</h2>
  {{ controls.vertical_slider('vca-level', 'Level', value='5') }}
  {{ controls.switch('vca-control-signal', 'Control Signal', {'env': 'Env', 'gate': 'Gate'}, 'env') }}
  </div>
</div>
<div class="section">
  <h2>Env</h2>
  {{ controls.vertical_slider('env-a', 'A') }}
  {{ controls.vertical_slider('env-d', 'D') }}
  {{ controls.vertical_slider('env-s', 'S') }}
  {{ controls.vertical_slider('env-r', 'R') }}
</div>
<div class="section">
  <h2>Chorus</h2>
  {{ controls.button('chorus-i', 'I') }}
  {{ controls.button('chorus-ii', 'II') }}
</div>
{% endblock %}
